.depositBlock {
  height: 43px;
  margin-top: 25px;
  float: left;
}
.depositBlock * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.depositBlock .depositPercent {
  height: 100%;
  position: relative;
  float: left;
  padding: 0 15px 6px;
  cursor: pointer;
}
.depositBlock .depositPercent:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: #1f9d00;
  left: 0;
  top: 0;
  z-index: -1;
  -webkit-transform: skew(-10deg);
  -moz-transform: skew(-10deg);
  -ms-transform: skew(-10deg);
  -o-transform: skew(-10deg);
  transform: skew(-10deg);
}
.depositBlock .depositPercent .depositPercentNum {
  font: 45px/43px 'ProximaNova-Semibold';
  float: left;
  color: #ffffff;
  font-style: italic;
  margin: 0 5px 0 -10px;
}
.depositBlock .depositPercent .depositPercentContent {
  float: left;
  color: #ffffff;
}
.depositBlock .depositPercent .depositPercentContent .depositPercentCurrency {
  font: 17px/30px 'ProximaNova-Semibold';
  text-transform: uppercase;
  font-style: italic;
}
.depositBlock .depositPercent .depositPercentContent .depositPercentText {
  font: 13px/2px 'ProximaNova-Semibold';
  font-style: italic;
}
.depositBlock .depositPercent .depositTooltip {
  position: absolute;
  display: none;
  padding: 20px;
  background: #ffffff;
  border: 1px solid #c5c5c5;
  bottom: -40px;
  right: 100%;
  margin-right: 60px;
  z-index: 2;
  width: 270px;
}
.depositBlock .depositPercent .depositTooltip .depositTooltipSimpleText {
  color: #000;
  font: 13px 'ProximaNova-Semibold';
  margin-bottom: 15px;
}
.depositBlock .depositPercent .depositTooltip .depositTooltipGreenText {
  color: #1f9d00;
  font: 13px 'ProximaNova-Semibold';
  text-transform: uppercase;
}
.depositBlock .depositPercent:hover .depositTooltip {
  display: block;
}
.depositBlock .depositText {
  float: left;
  margin-left: 6px;
  position: relative;
  padding: 8px 15px;
  height: 100%;
}
.depositBlock .depositText:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: #ededed;
  left: 0;
  top: 0;
  z-index: -1;
  -webkit-transform: skew(-10deg);
  -moz-transform: skew(-10deg);
  -ms-transform: skew(-10deg);
  -o-transform: skew(-10deg);
  transform: skew(-10deg);
}
.depositBlock .depositText .depositTextTitle {
  color: #1f9d00;
  font: 14px/14px 'ProximaNova-Semibold';
}
.depositBlock .depositText .depositTextContent {
  font: 14px/13px 'ProximaNova-Semibold';
  text-transform: uppercase;
  color: #000;
}
.savePriceBox {
  background: #2166d7;
  position: relative;
  margin: 15px 0 20px;
  padding: 5px;
  color: #ffffff;
  text-align: left;
}
.savePriceBox:after {
  content: '';
  border: 30px solid transparent;
  border-top: 8px solid #2166d7;
  position: absolute;
  right: 0;
  top: 100%;
}
.savePriceBox .saveText {
  font: 12px/12px 'ProximaNova-Regular';
}
.savePriceBox .saveNum {
  font: 14px/12px 'ProximaNova-Semibold';
  text-transform: uppercase;
}
.savePriceBox .saveOffer {
  position: absolute;
  font: 12px/12px 'ProximaNova-Semibold';
  text-transform: uppercase;
  text-align: center;
  top: 9px;
  right: 6px;
}
